In [64]:
import requests
from pprint import pprint
import pandas as pd

url = 'https://api.exchangerate.host/timeseries?'
params = {'start_date': '2021-01-01', 'end_date': '2022-01-01', 'symbols': "EUR,USD,RUB,GBP", 'base': 'USD'}
response = requests.get(url, params=params)
data = response.json()

pd.DataFrame(data['rates']).T

                 EUR       GBP        RUB  USD
2021-01-01  0.821300  0.731368  73.944993  1.0
2021-01-02  0.824063  0.731368  73.944989  1.0
2021-01-03  0.817388  0.731935  74.108816  1.0
2021-01-04  0.816286  0.736620  73.532982  1.0
2021-01-05  0.813219  0.734071  74.170118  1.0
...              ...       ...        ...  ...
2021-12-28  0.884210  0.744312  73.642400  1.0
2021-12-29  0.880921  0.741268  73.951951  1.0
2021-12-30  0.882704  0.740360  74.703970  1.0
2021-12-31  0.879286  0.739386  74.767039  1.0
2022-01-01  0.879665  0.739946  74.778424  1.0

[366 rows x 4 columns]